{% extends 'baseAdmin.html.twig' %}

{% block title %}Liste des Catégories{% endblock %}

{% block body %}
    <div class="content-wrapper">
    <h1>Liste des Catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.NomCategorie }}</td>
                <td>
                    <button class="btn btn-primary"> <a href="{{ path('categories_show', {'id': category.id}) }}">Voir</a></button>
                    <button class="btn btn-danger"> <a href="{{ path('categories_edit', {'id': category.id}) }}">Editer</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune Catégories</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       <button class="btn btn-success"> <a href="{{ path('categories_new') }}">Ajouter une Catégorie</a></button>
    </div>
{% endblock %}
