{% extends 'baseAdmin.html.twig' %}

{% block title %}Liste des Chef{% endblock %}

{% block body %}
    <div class="content-wrapper">
    <h1>Liste des Chef</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Poste</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chef in chefs %}
            <tr>
                <td>{{ chef.id }}</td>
                <td>{{ chef.NomChef }}</td>
                <td>{{ chef.PrenomChef }}</td>
                <td>{{ chef.PosteChef }}</td>
                <td><img src="{{ vich_uploader_asset(chef.image, "imageFile") }}" style="width: 200px; height: 150px;" alt=""></td>
                <td>
                    <button class="btn btn-primary"><a href="{{ path('chef_show', {'id': chef.id}) }}">Voir</a></button>
                    <button class="btn btn-danger"><a href="{{ path('chef_edit', {'id': chef.id}) }}">Editer</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun Chef</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <button class="btn btn-success"><a href="{{ path('chef_new') }}">Ajouter un Chef</a></button>
    </div>
{% endblock %}
